[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
# ExecStart=/usr/bin/swaybg -i "%h/Pictures/wallpapers/miku2.png"
ExecStart=/usr/bin/swaybg -i "%h/Pictures/wallpapers/hampton_court_green.jpg"
Restart=on-failure
