* {
  border:        none;
  border-radius: 0;
  font-family:   FreeMono;
  font-weight:   400;
  font-size:     12px;
  /* text-shadow:   0px 1.5px 3px #202020; */
  box-shadow:    none;
  transition-duration: 0s;
  color: #ffffff; /*default text color*/
	margin: 0 0px; /*default margin between blocks*/
}

window {
  background: #000020;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #language {
  /*margin:     0px 6px 0px 10px;*/
	/* margin: 0 10px; */
  min-width:  25px;
}

#battery.warning {
  color: #F8C900;
}

#battery.critical {
  background: #eb0000;
}

#temperature.critical {
  background: #eb0000;
}

#tray menu * {
  color: #000000;
}
